.home-container {
  margin-top: 72px;
  padding-bottom: 5rem;
}

.home-hero-container {
  min-height: calc(100dvh - 72px);
}

.home-section {
  margin-top: 3rem;
}

.home-about-container {
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .home-container {
    margin-top: 68px;
    padding-bottom: 4rem;
  }

  .home-hero-container {
    min-height: calc(100dvh - 68px);
  }

  .home-section {
    margin-top: 2.2rem;
  }
}

@media (max-width: 600px) {
  .home-container {
    padding-bottom: 3rem;
  }

  .home-section {
    margin-top: 1.7rem;
  }
}
